@charset "UTF-8";
body{
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(129, 16, 16);
    background-color: orange;
    font-size: 35px;
}
h2{
    color: rgb(230, 25, 25);
    font-size: 25px;
}
p{
    text-align: justify;
    font-size: 18px;
}